
body {
    background-image: url('../images/background.png');
    background-size: cover;
}

.score-div {
    color: #fff;
    position: relative;
    right: 30%;
    margin-top: 30%;
}

.score-div{
    height: 30%;
    background-color: white;
    color: black;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    
}


#score {
    text-align: center;
}

.instructions {
    color: #fff;
    position: absolute;
    font-size: 20px;
    top: 0;
    right: 0;
    text-align: left;
}

.saved-piece-canvas  {
        /* position: relative;
        left: 30%;
        margin-top: 30%; */

}
    

.saved-piece-canvas > canvas {
    /* background-color: #fff; */
    border: 1px black solid;

    
}

.main {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}

ul {
    list-style: none;
}

.hold-piece, .next-piece{
    text-align: center;
    color: white;
    font-size: 20px;
}

.high-score {
    color: white;
}

#canvas1 {
    border: 1px solid black;
}

#canvas3 {
    border: 1px solid black;
}

.hold-and-preview{
    position: relative;
    left: 30%;
    margin-top: 30%;


}

.next-piece {
    margin-top:4em;
}